@import '../../../styles/variables';

.Login {
  background-color: $color_blue;
  height: 100vh;

  .title {
    font-family: 'Leckerli One', cursive;
    font-weight: normal;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
    margin: 0 0 100px;
    padding-top: 200px;

    background-color: $color_dark_blue;
    color: transparent;
    text-shadow: 2px 2px 3px $color_darker_blue;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  .form-container {
    background-color: $color_white;
    width: 470px;
    max-width: 100%;
    padding: 25px;
    border-radius: px;
    margin: 0 auto;
  }
}
