.Login {
  background-color: #1e5dff;
  height: 100%;
}

.Login-title {
  font-family: 'Leckerli One', cursive;
  color: #0039cc;
  font-weight: normal;
  font-size: 64px;
  line-height: 86px;
  text-align: center;
  margin: 0 0 100px;
  padding-top: 200px;
}
.form-container {
  background-color: #ffffff;
  width: 470px;
  max-width: 100%;
  padding: 25px;
  border-radius: 8px;
  margin: 0 auto;
}

.auth-link {
  text-decoration: none;
  color: black;
}

.auth-link:hover {
  text-decoration: none;
  color: #1e5dff;
}

.active {
  color: #1e5dff;
}

.btn-primary {
  background-color: red;
}
